*.class

#Mobile Tools for Java (J2ME)
.mtj.tmp/

#Package Files#
*.jar
*.war
*.ear

#virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Common
.gradle/
build/
bin/
classes/
out/
run/*

#IDE
.classpath
.project
.settings/
eclipse/
.idea/
*.iml
*.ipr
*.iws

#System
Thumbs.db
.DS_Store
*.launch

#Other
src/main/java/com/
src/main/java/net/fexcraft/mod/fsu/
src/main/java/net/fexcraft/mod/extensions/ve/
src/main/resources/assets/flansmod/
src/main/resources/assets/rythorn/
src/main/resources/assets/fsu/

